.mainpage_body::after {
    opacity: 0.5;
    background-image: url("https://flic.kr/p/CAdSCE");
}


.mainpage_h1 {
    color: blue;
    text-align: center;
    font-size: 60px;
}

.mainpage_h3 {
    color: green;
    text-align: center;
    font-size: 30px;
}

.mainpage_p {
    color: red;
    text-align: center;
    font-size: 20px;
}

.mainpage_links {
    color: red;
    text-align: center;
    width: 100px;
    margin: left;
}

.mainpage_links li{
    display: block;
    width: 100px;
    height: 100px;
    color: red;
}

.resumepage_body {
    background-image: url("http://clipartfreefor.com/cliparts/engineer-clipart/cliparti1_engineer-clipart_09.jpg");
}

.resumepage_body h3 {
    color: green;
    font-size: 30px;
}

.resumepage_body li {
    display: block;
    color: red;
    font-size: 20px;
}

.projectpage_body {
    font-size: 30px;
    text-align: center;
    color:red;
}



